* {
	box-sizing: border-box;
	margin: 0;
	transition: 0.3s;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	background-color: #221b3a;
}
